<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Post Voting</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id="overlay">
            <div id="blanket">
                <div id="dialog">
                    <h4 class="title"></h4>
                    <div class="container"></div>
                    <div class="buttons">
                        <a href="#" class="ok btn">Ok</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="app" id="votingapp">
            <div id="app-header">
                <canvas height="50" width="50" id="spinner"></canvas>
                <h1>Vote for your favorite post</h1>

            </div>

	    <div class="list-wrapper">
                <ul id="post-list">
                    <li>Loading...</li>
                </ul>
	    </div>
        </div>
        <script type="text/javascript" src="js/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="js/underscore.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <noscript><p>This app requires Javascript to run.</p></noscript>

        <!-- Templates -->
        <!-- Note the %- which results in an escaped value -->
        <script type="text/template" id="post-template">
            <div class="post-title">
                <strong class="post-title"><%- title %></strong>
            </div>
            <div class="voting-tools">
	        <span class="votecount">
                    <span class="votecount-number"><%- votes %></span>
                    <%= votes == 1 ? 'vote' : 'votes' %></span>
                <a href="#" class="addvote btn">Add your vote</a>
            </div>
        </script>
    </body>
</html>

